@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

header {
    background-color: black;
    height: 100px;
}

h1,h2,h5,p {
    font-family: "Montserrat", sans-serif;
    line-height: 21.09px;

}

h1,h2,h5 {
    font-weight: bold;
}

p {
    font-weight: 400;
}

.wrapper-left {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.wrapper-left img {
    height: 100px;
}

.wrapper-login {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    gap: 15px;
}

.wrapper-login img {
    height: 50px;
}

.sub-header {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.featuredNewsWrapper {
    display: flex;
    justify-content: center;

}

.featuredNews {
    background-color: #778899;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.mainNews {
    position: relative;
    height: 80%;
    width: 40%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.mainNews::before {
    content: "";
    background-image: url(imagens/floresta.jpg);
    background-size: cover;
    position: absolute;
    opacity: 0.75;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.mainNews h1 {
    position: relative;
    color: #ffffff;
}

.mainNews p {
    position: relative;
    color: #ffffff;
}

.importantNews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 80%;
    width: 40%; 
    margin-right: 5%;
}

#news1 {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 10px;
}

#news1::before {
    content: "";
    background-image: url(imagens/floresta.jpg);
    background-size: cover;
    position: absolute;
    opacity: 0.75;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

#news1 h1 {
    position: relative;
    color: #ffffff;
}

#news1 p {
    position: relative;
    font-size: 13px;
    color: #ffffff;
}

#news2 {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 10px;
}

#news2::before {
    content: "";
    background-image: url(imagens/floresta.jpg);
    background-size: cover;
    position: absolute;
    opacity: 0.75;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

#news2 h1 {
    position: relative;
    color: #ffffff;
}

#news2 p {
    position: relative;
    font-size: 13px;
    color: #ffffff;
}

#news3 {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 10px;
}

#news3::before {
    content: "";
    background-image: url(imagens/floresta.jpg);
    background-size: cover;
    position: absolute;
    opacity: 0.75;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

#news3 h1 {
    position: relative;
    color: #ffffff;
}

#news3 p {
    position: relative;
    font-size: 13px;
    color: #ffffff;
}

#news4 {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 10px;
}

#news4::before {
    content: "";
    background-image: url(imagens/floresta.jpg);
    background-size: cover;
    position: absolute;
    opacity: 0.75;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

#news4 h1 {
    position: relative;
    color: #ffffff;
}

#news4 p {
    position: relative;
    font-size: 13px;
    color: #ffffff;
}


.newsRowWrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.newsRow {
    background-color: #778899;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    padding: 25px;
    gap: 20px;
}

.selectedNewsWrapper {
    display: flex;
    justify-content: center;
}

.selectedNews {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: fit-content;
    gap: 30px;
    
}

/* .mainNews img {
    width: 100%;
    height: 100%;
}

.gallery_product img {
    width: 100%;
    height: 80%;
} */

#title {
    font-size: 30px;
}

#subTitle {
    font-size: 15px;
}

.row {
    width: 100%;
}

.selectedNews img {
    width: 60%;
    height: auto;
}

footer {
    margin-top: 100px;
    background-color: black;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 100px;
}

/* .wrapper-Main {
    display: flex;
    justify-content: space-between;
    height: 500px;
    gap: 25px;
}

.mainNews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(imagens/floresta.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    gap: 20px;
    width: 50%;
    height: auto;

}
  
.mainNews h1 {
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.mainNews p {
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 15px;
}

.sub-news-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    flex-wrap: wrap;
    gap: 30px;
}

#div1 {
    width: 45%;
}

#div2 {
    width: 45%;
}

#div3 {
    width: 45%;
}

#div4 {
    width: 45%;
} */